FileCheck_config.json filter=git-crypt diff=git-crypt
test_secret_config filter=git-crypt diff=git-crypt
folder/config.json filter=git-crypt diff=git-crypt
creds/pass filter=git-crypt diff=git-crypt
folder/from_dev_branch.txt filter=git-crypt diff=git-crypt 

